#header {
    height: 150px;
    /*background-color: yellow;*/
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#header button {
    margin-top: 50px;
}

.navbar-form-search {
    width: 90em;
}

.navbar-form-search input {
    width: 80%;
    height: 50px;
}